/* Global */

* {
 box-sizing: border-box;
}

html, body {
 margin: 0;
}

body {
 display: flex;
 flex-direction: column;
 height: 100vh;
 /* Fonte */
 font-family: 'Roboto', sans-serif;
 background-color: #f9f9f9;
}

h1, h2 {
 color: #000000cc;
}


/* Titulos */
header h1, main h2 {
 margin-bottom: 70px;
}

main h2 span {
 color: #ff4f4f;
}

form h2 {
 text-align: right;
 color: rgba(255, 255, 255, 0.78);
}

/* Estrutura */
header, main, footer {
 text-align: center;
}

header, .form, main {
 /* Espaçamentos*/
 margin: 0 auto 70px;
 /* Limites do elementos*/
 width: 90%;
 max-width: 500px;
}

/* Header */
header button {
 margin-top: 16px;
 padding: 8px 16px;
 border-radius: 4px;
 border: none;
 background-color: #ff4f4f;
 color: #fff;
 font-weight: bold;
}

.logo {
 width: 130px;
 margin: 70px;
}

header p {
 font-size: 14px;
}

/* Form */
section.form {
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-gap: 45px;
 align-items: center;
 background-color: #ff4f4f;
 padding: 16px 64px;
 border-radius: 4px;
}

form button {
 font-weight: bold;
}

form input,
form button {
 width: 100%;
 margin: 4px;
 padding: 8px 16px;
 border: 1px rgba(218, 218, 218, 0.795) solid;
 border-radius: 4px;
}


form input {
 background-color: transparent;
}

form input::placeholder {
 color: #ffffffaa;
}

/* Main */

main .donors {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
}

.blood {
 color: #ff4f4f;
 font-weight: bold;
 font-size: 12px;
 display: flex;
 align-items: center;
 justify-content: center;
 position: relative;
}

.blood::before {
 content: "";
 background-color: #ff4f4f11;
 width: 40px;
 height: 40px;
 position: absolute;
 
 /* Gota */
 border-radius: 50%;
 border-top-right-radius: 0;
 transform: rotate(-45deg);
}

.donor p {
  margin-top: 24px;
  margin-bottom: 64px;
  font-size: 14px;
}

/* Footer */
footer {
 margin-top: auto;
 padding-bottom: 16px;
 border: 1px solid #eee;
 text-align: center;
 align-content: center;
}

.fa-heart {
 color: #ff4f4f;
 margin: 0 3px;
 font-size: 15px;
 animation: pound 0.35s infinite alternate;
 -webkit-animation: pound 0.35s infinite alternate;
}

@-webkit-keyframes pound {
 to {
   transform: scale(1.1);
 }
}
@keyframes pound {
 to {
   transform: scale(1.1);
 }
}

/* JS Functions */
section.form.hide {
 opacity: 0;
 visibility: hidden;
}





